*{
    font-family: sans-serif;
}
.box{
    box-shadow: 5px 1.5px 6px;
    
}
.img{
    margin: 0 750px;
    height: 300px;
    margin-top: 5rem;
    display: flex;
    
}
.hello{
    font-size: 50px;
    font-weight: 600;
    display: inline;
}
.name{
    font-size: 50px;
    font-weight: 700;
    color: #0d6efd;
    display: inline;
}
.txt{
    text-align: center;
    margin-top: 20px;
}
.blue{
    padding: 15px 30px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    border-radius: 5px;
    color: white;
}
.white{
    padding: 15px 30px;
    border: 1px solid #0d6efd;
    background-color: white;
    border-radius: 5px;
    color: #0d6efd;
}  
.but{
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}

