*{
    font-family: sans-serif;
    
}
.box{
    box-shadow: 5px 1.5px 6px;
    padding: 8px 0px;
    
}
.img{
   
    height: 300px;
    margin-top: 5rem;
    
    
}
.img2{
    display: flex;
    justify-content: center;
}

.hello{
    font-size: 50px;
    font-weight: 600;
    display: inline;
}
.name{
    font-size: 50px;
    font-weight: 700;
    color: #0d6efd;
    display: inline;
}
.txt{
    text-align: center;
    margin-top: 20px;
}
.blue{
    padding: 15px 30px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    border-radius: 5px;
    color: white;
    transition:  0.5s
}
.white{
    padding: 15px 30px;
    border: 1px solid #0d6efd;
    background-color: white;
    border-radius: 5px;
    color: #0d6efd;
    transition:0.5s
}  
.but{
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}
.a{
    text-align: center;
    font-size: 22px;
    color: rgb(204, 204, 204);
}

.nav{
    font-weight: 800;
}
.Home{
    font-weight: 790;
}
.let{
   display: flex;
   
   justify-content: end;
   margin-right: 30px;
}
.blue:hover{
    background-color: #0d5bcf;

}
.white:hover{
    background-color: #0d6efd;
    color: white;
    
}
.box2{
    background-color: rgba(228, 228, 228, 0.336);
    padding: 50px 0;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    
}
.me{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.box3{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 3rem;
    
}

.html{
    background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
}
.css{
background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
}
.ui{
    background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
}
.javascript{
    background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
}
.react{
    background-color: white;
    border-radius: 40px;
    padding: 5px 10px;
    
}